<div class="skill-check-result">
  <!-- Description -->
  <h2>{{data.attribute}}[{{data.attributeBonus}}] check</h2>
  {{#unless data.opposed}}
    <h3>Target = {{data.target}}</h3>
  {{else}}
    <h3>Opposed Roll</h3>
  {{/unless}}
  <!-- Dice Representation -->
  <div class="div-dices">
  {{#each dices as |die|}}
    <div class="die">
      {{#unless die.active}}
        <p class="die-normal cross">{{die.result}}</p>
      {{else if (eq die.result 6)}}
        <p class="die-normal die-green">{{die.result}}</p>
      {{else if (eq die.result 1)}}
        <p class="die-normal die-red">{{die.result}}</p>
      {{else}}
        <p class="die-normal">{{die.result}}</p>
      {{/unless}}
    </div>
  {{/each}}
    <h3> + {{data.attributeBonus}}</h3>
  </div>
  <!-- Result -->
  {{#unless data.opposed}}
    {{#if (gte calculatedResult 0)}}
    {{#if crit}}
    <h1 id="success">CRITICAL {{calculatedResult}}</h1>
    {{else}}
    <h1 id="success">SUCCESS {{calculatedResult}}</h1>
    {{/if}}
    {{else}}
    {{#if fumble}}
    <h1 id="failure">FUMBLE {{calculatedResult}}</h1>
    {{else}}
    <h1 id="failure">FAILURE {{calculatedResult}}</h1>
    {{/if}}
    {{/if}}
  {{else}}
    <h1 id="neutral">RESULT {{calculatedResult}}</h1>
  {{/unless}}
</div>
