<div class="Aspect">
  <div class="Aspect-Header">
    <a class ="Aspect-Hyperlink" data-aspect="{{@key}}">
      <h3 name="aspectName" data-id="{{_id}}">{{aspectName}}</h3>
    </a>
    <input name="data.aspects.{{@key}}.current" data-id="{{_id}}" value="{{current}}"></input>
  </div>
  <div class="Aspect-Body">
    {{#each attributes as |attribute id|}}
      <div class="Attribute">
        <a class="Attribute-Hyperlink" data-aspect="{{@../key}}"
          data-attribute="{{@key}}"><h3>{{@key}}</h3></a>
        <input class="attributeValue"
          name="data.aspects.{{@../key}}.attributes.{{@key}}.value"
          data-aspect="{{@../key}}"
          value="{{value}}"/>
      </div>
    {{/each}}
  </div>
</div>
