<tr>
  <td>{{name}}</td>
  <td>{{data.bonus}}</td>
  <td>{{data.grip}}</td>
  <td>{{data.range}}</td>
  <td>{{data.tags}}</td>
  <td>
    <a class="edit-item" data-id="{{_id}}" data-type="equipment"><i class="fas fa-edit" title="edit equipment"></i></a>
    <a class="delete-item" data-id="{{_id}}" data-type="equipment"><i class="fas fa-trash" title="remove equipment"></i></a>
  </td>
</td>
