<tr class="item"  data-item-id="{{_id}}">
  <td>{{name}}</td>
  <td><a class="increment-amount" data-id="{{_id}}">{{data.amount}}</a></td>
  <td class="control">
    <a class="edit-item" data-id="{{_id}}" data-type="misc"><i class="fas fa-edit" title="edit item"></i></a>
    <a class="delete-item" data-id="{{_id}}" data-type="misc"><i class="fas fa-trash" title="remove item"></i></a>
  </td>
</td>
